* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearing{
	clear: both;
}
.content{
	background-image: url(gym.jpg);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

table.table{
	width: 50%;
}
table.table tr{
	height: 35px;
}
table.table th{
	width: 30%;
}

.btn-form{
	padding: 10px 15px;
    margin-left: 290px;
    margin-top: 10px;
	border: none;
	background: #FFFFFF;
	cursor: pointer;
}
