@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    background: #ffffff;
}
h1 {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}
.wrapper-start {
    background: #878A97;
    text-align: center;
    padding: 16px;
    margin: auto;
    margin: 16px;
    // max-width: 1440px;
    border-radius: 36px;
    height: 1048px;
    .card {
        float: left;
        width: 33.3%;
        height: 480px;
        padding: 24px 16px;
        margin: 0;
        .item-img {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            margin: 0 auto;
        }
        .item-name {
            h2 {
                font-weight: 400;
            }
        }
        .item-description {
            p {
                font-size: 16px;
                text-align: left;
            }
        }
        button {
            font-size: 16px;
            background: #FDFDFD;
            border: 0;
            border-radius: 12px;
            padding: 4px 12px;
        }
        button:focus {
            outline: 0;
        }

        
    }
    .card:nth-of-type(1) {
        .item-img {
            background: url(../images/breakfast.jpeg) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .card:nth-of-type(2) {
        .item-img {
            background: url(../images/lunch.jpeg) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .card:nth-of-type(3) {
        .item-img {
            background: url(../images/dinner.jpeg) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .card:nth-of-type(4) {
        .item-img {
            background: url(../images/protein.jpeg) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .card:nth-of-type(5) {
        .item-img {
            background: url(../images/shakes.jpeg) no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}








.wrapper-main {
    padding: 16px;
    aside.ath-1 {
        float: left;
        background: url(../images/istockphoto-612x612.jpeg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 900px;
        width: 20%;
    }
    main {
        width: 60%;
        float: left;
        background: #B7B7B7;
        text-align: center;
        height: 900px;
        padding: 16px;
        h1 {
            font-weight: 400;
        }
        h2 {
            font-size: 18px;
            font-weight: 500;
        }
        .card-bmi {
            display: grid;
            width: 60%;
            margin: 0 auto;
            input, button {
                font-size: 18px;
                padding: 8px;
                margin: 4px 0;
            }
            input:focus, button:focus {
                outline: 0;
            }
        }
    }
    aside.ath-2 {
        float: left;
        background: url(../images/fitness-model-gym-.jpeg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 900px;
        width: 20%;
    }
}


footer {
    margin: 900px 16px 0 16px;
    padding: 16px;
    text-align: center;
    background: #474b5c;
    h2 {
        font-weight: 500;
    }
    button {
        font-size: 16px;
        background: #47ffff;
        border: 0;
        border-radius: 12px;
        padding: 4px 12px;
    }
    button:focus {
        outline: 0;
    }
    .social {
        padding: 24px 0 12px 0;
    }
}