@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}
.main-con {
  background: #ffffff;
  height: 200px;
}
.header-text-container {
  margin: auto;
}
.slider-con {
  background: #ffffff;
  height: 800px;
}
.round-img {
  margin-top: 10px;
  margin-bottom: 35px;
}

.card-text {
  font-size: 10px;
}
.card-title {
  text-align: center;
}
.modal-button {
  margin: auto;
  width: 146px;
  height: 34px;
  background-color: #333;
  color: white;
  border-radius: 15px;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}
.card-body-height {
  height: 300px;
}
::placeholder {
  font-size: small;
}
